<button id="modal-button" type="button" class="button" data-toggle="modal" data-target="#myModal">最新コース</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <h4 class="modal-title">最新コース</h4>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">とじる</button>
        </div>
    </div>
</div>