  <div class="col-sm-6">
    <img src="images/students.png" alt="">
  </div>
    <div class="col-sm-6">
      <h2>ようこそ!</h2>
      <h4>Lesson Match は、新しく学びたい人をサポートするオンラインマッチング学習サービスです。</h4>
      <p> 受けてみたいレッスンを探して参加してみましょう！ <a href="/courses">コース一覧</a> また、コースを作成することであなたがレッスンの講師になることもできます</p>
      <p> アカウントを作成してレッスンを受けよう！ <a href="/users/new">新規登録ページ</a>へ</p>
      <p>コースへの参加は最新コースから参加できます</a></p>
      <p>オンラインレッスンの開催は、ZOOMを使用してください。ルームの共有は<a href="chat">@ボタンのチャットスペース</a>で</p>
    </div>
  </div>