<h2 class="center">購読者ページ</h2>
    <table class="table">
        <thead>
            <tr>
                <th>名前</th>
                <th>Email</th>
                <th>編集</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <% subscribers.forEach(subscriber => { %>
            <tr>
                <td>
                <a href="<%= `/subscribers/${subscriber._id}` %>">
                    <%= subscriber.name %>
                </a>
                </td>
                <td><%= subscriber.email %></td>
                <td>
                <a href="<%`subscribers/${subscriber._id}/edit` %>">
                    編集
                </a>
                </td>
                <td>
                    <a href="<%= subscribers/${subscriber._id}/delete?_method=DELETE` %>"
                    onClick="return confirm(`削除しますか？`)">
                    削除</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>