<div class="data-form">
    <form action="/subscribers/create" method="POST">
        <h2>登録する</h2>
        <h3>登録することでレッスン情報を受け取ることができます</h3>
        <label for="inputName">名前</label>
        <input type="text" name="name" id="input" placeholder="名前" autofocus>
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" palceholder="Email" required>
        <button type="submit">作成する</button>
    </form>
</div>