<div class="data-form">
    <form class="form-signin" action="/users/create" method="POST">
      <h2 class="form-signin-heading">ユーザーアカウントを作成する</h2>
      <label for="inputFirstName">名字</label>
      <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="山田" autofocus>
      <label for="inputLastName">名前</label>
      <input type="text" name="last" id="inputLastName" class="form-control" placeholder="太郎">
      <label for="inputPassword">パスワード</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
      <label for="inputEmail">Email</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email アドレス" required>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">作成する</button>
    </form>
  </div>